---
layout: page
---
<style>
	h2 {
		font-weight: bold;
		color: #000;
		font-size: 32px;
	}

	.comtainer {
		max-width: 1000px !important;
	}

	p {
		font-size: 15px;
	}
</style>
<h2>Projects</h2>

<h3>
	1. Automatic Questionnaire Generation from Videos
</h3>
<p>
	This project involves interleaving lengthy lecture videos with questionnaires at optimal moments in order to keep
	students’ attention. The questions are generated based on the transcript of the video lecture using ML and NLP
	techniques. LDA-based model is used to insert these generated questions at appropriate points during the lecture.
	<br>
	<b>
		Language :
	</b>
	Python. <br>

	<b>
		Tools :
	</b>
	Spacy, Keras, Natural Language Toolkit, Sklearn.
</p>

<h3>
	2. Image Encryption with Chaos Theory
</h3>
<p>
	This is a project in cryptography that involved implementing image encryption using various chaos maps and comparing
	their
	merits based on key sensitivity, adjacent pixel autocorrelation and intensity histograms. The chaos maps implemented
	were - Arnold cat maps, Henon maps and Logistic chaos maps.

	<br>
	<b>
		Language :
	</b>
	Python.
</p>
<h3>
	3. Translating Object Oriented Perl Code to Python
</h3>
<a href="https://github.com/RachanaJayaram/Translating-OOPerl-to-Python">RachanaJayaram/Translating-OOPerl-to-Python</a>
<p>
	This project is an exploration of program translation using compiler design techniques (lexers and parsers). Given a
	syntactically
	correct code written in Object Oriented Perl the tool developed here programatically generates an equivalent code in
	Python which generates idenetical outputs
	<br>
	<b>
		Language :
	</b>
	Python, Python. <br>

	<b>
		Tools :
	</b>
	Python Lex and Yacc library.
</p>

<h3>
	4. Malware Prediction
</h3>
<a href="https://github.com/RachanaJayaram/MalwareDetection">RachanaJayaram/MalwareDetection</a>
<p>
	Using machine learning models to predict the probability of a windows system getting infected by various families of
	malware, based on different properties of that system. This was done by using gradient boosting frameworks, namely a
	LightGBM model on Microsoft's 'Malware Prediction' dataset.

	<br>
	<b>
		Language :
	</b>
	Python. <br>

	<b>
		Tools :
	</b>
	Light GBM, Keras, Sklearn.
</p>


<h3>
	5. Elective Registration Portal - DBMS
</h3>
<p>
	The project involved making a mock elective registration website for our university. Using this portal, students can
	sign up for electives of their choice and teachers can monitor the head-count of students enrolled in their
	elective.

	<br>
	<b>
		Language :
	</b>
	JavaScript, PHP. <br>

	<b>
		Tools :
	</b>
	MySQL
</p>


<h3>
	6. Visualization of Dijkstra's algorithm
</h3>
<p>
	A teaching tool that is used easily visualization of Dijkstra's algorithm which is used to find the shortest path
	from a single source vertex to all other vertices in a given graph.
	<br>
	<b>
		Language :
	</b>
	JavaScript, Python.
	<br>

	<b>
		Tools :
	</b>
	Sigma JS for graph drawing, flask.
</p>