---
layout: page
---
<style>
	h2 {
		font-weight: bold;
		color: #000;
		font-size: 32px;
	}

	.comtainer {
		max-width: 1000px !important;
	}

	p {
		font-size: 15px;
	}

	a {
		background-color: transparent;
		color: #119ef0 !important;
	}
</style>
<h2>Projects</h2>
<h3>
	1. Translating Object Oriented Perl Code to Python
</h3>
<a href="https://rachanajayaram.github.io/Translating-OOPerl-to-Python/">RachanaJayaram/Translating-OOPerl-to-Python</a>
<span style="color:#71858c">| 4th Semester</span>
<br>
<p>
	This project is an exploration of program translation using compiler design techniques. Given a syntactically
	correct code written in Object Oriented Perl the tool developed here programmatically generates an equivalent code
	in Python which generates identical outputs. Using a lexer and a 2 stage parser, translation of several concepts
	unique to OOPerl to Python was achieved.
	<br>
	<b>
		Language :
	</b>
	Python, Perl. <br>


	<b>
		Tools & technologies used :
	</b>
	Python Lex and Yacc library.
</p>
<h3>
	2. Automatic Questionnaire Generation from Lecture Videos
</h3>
<span style="color:#71858c"> 5th Semester</span>
<p>
	This project involves interleaving lengthy lecture videos with questionnaires at optimal moments in order to keep
	students’ attention. MCQ type questions are generated based on the transcript of the video lecture using ML and NLP
	techniques. In order to maintain continuity and proper flow of teaching, a LDA-based model is used to insert these
	generated questions at appropriate points during the lecture.
	<br>
	Our short paper on “Automatic questionnaire and interactive session generation from videos” was accepted for the 3rd
	International Conference on Computational Intelligence in Data Science 2020.
	<br>
	<b>
		Language :
	</b>
	Python. <br>

	<b>
		Tools & technologies used :
	</b>
	Spacy, Keras, Natural Language Toolkit, Sklearn.
</p>

<h3>
	3. Malware Prediction
</h3>
<a href="https://github.com/RachanaJayaram/MalwarePrediction">RachanaJayaram/MalwarePrediction</a> <span
	style="color:#71858c">| 5th Semester</span>
<p>
	Using machine learning models to predict the probability of a windows system getting infected by various families of
	malware, based on different properties of that system. This was done by using gradient boosting frameworks, namely a
	LightGBM model on Microsoft's 'Malware Prediction' dataset.

	<br>
	<b>
		Language :
	</b>
	Python. <br>

	<b>
		Tools & technologies used :
	</b>
	Light GBM, Keras, Sklearn.
</p>
<h3>
	4. Image Encryption with Chaos Theory

</h3>
<a
	href="https://github.com/RachanaJayaram/Image-Encryption-Chaos-Maps">RachanaJayaram/Image-Encryption-Chaos-Maps</a><span
	style="color:#71858c"> | 5th Semester</span>


<p>
	This is a project in cryptography that involves implementing image encryption using various chaos maps and comparing
	their
	merits based on key sensitivity, adjacent pixel autocorrelation and intensity histograms. The chaos maps implemented
	were - Arnold cat maps, Henon maps and Logistic chaos maps.

	<br>
	<b>
		Language :
	</b>
	Python.
</p>

<hr>
<h2>Mini Projects</h2>

<h3>
	1. Visualization of Dijkstra's algorithm
</h3>
<a
	href="https://github.com/RachanaJayaram/Visualization-of-Dijkstras-Algorithm">RachanaJayaram/Visualization-of-Dijkstras-Algorithm</a>
<span style="color:#71858c">| 4th Semester</span>

<p>
	A teaching tool that can be used for easily visualization of Dijkstra's algorithm which is used to find the shortest
	path from a single source vertex to all other vertices in a given graph.
	<br>
	<b>
		Language :
	</b>
	JavaScript, Python.
	<br>

	<b>
		Tools & technologies used :
	</b>
	Sigma JS for graph drawing, flask.
</p>


<h3>
	2. Online Movie Booking
</h3>
<a href="https://github.com/RachanaJayaram/Movie-Booking">RachanaJayaram/Movie-Booking</a> <span style="color:#71858c">|
	3rd Semester</span>


<p>
	The project is an online movie booking website where a user can register, login, and
	book tickets for a movie of their choice. It demonstrates the use of different web
	technologies through which a web-page can be made more dynamic.

	<br>
	<b>
		Language :
	</b>
	JavaScript, PHP. <br>

	<b>
		Tools & technologies used :
	</b>
	MySQL.
</p>

<h3>
	3. House Votes Classifier
</h3>
<a href="https://github.com/RachanaJayaram/House-Votes-Classifier">RachanaJayaram/House-Votes-Classifier</a> <span
	style="color:#71858c">| 5th Semester</span>


<p>
	Implementing a naive bayes classifier with k-fold validation and randomized boosting from scratch to classify house votes data.
	<br>
	<b>
		Language :
	</b>
	Python.
</p>


<h3>
	4. Elective Registration Portal - DBMS
</h3>
<a href="https://github.com/RachanaJayaram/Elective-Registration">RachanaJayaram/Elective-Registration</a> <span
	style="color:#71858c">| 4th Semester</span>


<p>
	The project involved making a mock elective registration website for our university. Using this portal, students can
	sign up for electives of their choice and teachers can monitor the head-count of students enrolled in their
	elective.

	<br>
	<b>
		Language :
	</b>
	JavaScript, PHP. <br>

	<b>
		Tools & technologies used :
	</b>
	MySQL.
</p>



<h3>
	5. Football robot
</h3>
<a href="https://github.com/RachanaJayaram/Football-Robot">RachanaJayaram/Football-Robot</a> <span
	style="color:#71858c">| 2nd Semester</span>


<p>
	This is an image-processing robot made with Raspberry Pi 3. The robot detects a ball,
	detects the goal and transfers the ball to the goal.
	<br>
	<b>
		Language :
	</b>
	Python.
	<br>

	<b>
		Tools & technologies used :
	</b>
	OpenCV.
</p>

<hr>